<a href="/" class="btn btn-outline-dark btn-sm">ADMIN Back</a>
<hr>
<div class="main-title">
  <h2>Add New Post</h2>
</div>

<form action="/admin/add-post" method="POST">
  <input type="hidden" name="userId" value="<%= user_id %>"> <!-- Hidden user ID field -->

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="author"><b>Author</b></label>
  <input type="text" placeholder="Author" name="author">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <!-- Checkbox for 'Want to Publish' -->
  <label for="publish"><b>Want to Publish</b></label>
  <input type="checkbox" name="publish" value="true">

  <input type="submit" value="Add" class="btn btn-dark">
</form>
