<h1>feedback</h1>
<form action="/submit" method="post">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Your Name">
    <label for="message"><b>Message</b></label>
    <input type="text" placeholder="Write Your feedback here">
    <input type="submit">
</form>