<div class="author">
<h1 class="authour__heading">Hi,I am Satyam</h1>
<p class="author__body">Creating A Website For Organising and sharing your Notes</p>
</div>
<p class="author__body">Total Notes:<%=data.length%></p>
<section class="articles">
  <div class="main_title"> 
  <h2 class="articles__heading">Published Notes:</h2>
  </div>
  <ul class="article-ul">
    <% data
      .sort((a, b) =>  new Date(b.createdAt)-new Date(a.createdAt))
      .forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
    
        
</section>