<div class="author">
<h1 class="authour__heading">Hi,I am Satyam</h1>
<p class="author__body">Creating A Blogging Website For Learning</p>
</div>
<img src="https://indiacsr.in/wp-content/uploads/2023/06/Blogging-Future-in-India.jpg" class="blog-img" width="781" height="428" >

<section class="articles">
  <div class="main_title"> 
  <h2 class="articles__heading">Posts</h2>
    <a href="/add-post"  class="btn btn-dark">+ Add New</a>
  </div>
  <ul class="article-ul">
    <% data
      .sort((a, b) =>  new Date(b.createdAt)-new Date(a.createdAt))
      .forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
    
        
</section>