<h1 class="post_title"><%= data.title %></h1>
<hr>
<h5 >Author : <%=data.author %></h3>
<p>Date : <%= data.createdAt.toDateString() %></p>
<hr>
<article class="article"><%= data.body %></article>
<br>
<hr>




<div class="d-inline-flex p-2">
<a href="/" class="btn btn-outline-dark btn-sm">👈Back</a>
</div>


